VITE_FIREBASE_API_KEY=AIzaSyCnP2ifPX61CHTZybd6d44Ri-Fg0mIjtj0
VITE_FIREBASE_AUTH_DOMAIN=jwellerysps.firebaseapp.com
VITE_FIREBASE_DATABASE_URL=https://jwellerysps-default-rtdb.asia-southeast1.firebasedatabase.app
VITE_FIREBASE_PROJECT_ID=jwellerysps
VITE_FIREBASE_STORAGE_BUCKET=jwellerysps.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=819964594279
VITE_FIREBASE_APP_ID=1:819964594279:web:51f341416388d2bdbdacc2

VITE_ADMIN_PASSWORD=changeme123